
.modal-window {
  z-index: 111111111;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e77364;
  width: 24em; // 384px
  border-radius: 0.5em; // 8px
}

.close-button {
  color: black;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 0.25em;  // 4px
  border: none;
  background-color: lightgray;
  outline: none;
}

.close-button:hover {
  background-color: rgb(241, 241, 241);
}


.modal-header {
  padding: 1em 1.5em;  // 16px 24px
  border-radius: 0.5em 0.5em 0 0; // 8px
  display: flex;
  background-color: #cf444a;
  justify-content: space-between;
}

.modal-body {
  padding: 1em 1.5em;  // 16px 24px
  display: flex;
  justify-content: center;
}

.modal-footer {
  padding: 1em 1.5em;  // 16px 24px
  display: flex;
  justify-content: center;
}

.modal-button {
  width: 80px;
}